@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');

body {
  font-family: 'Tajawal', sans-serif;
}


.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.App-header {
  background-color: #fbfbfb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header p {
  color: #345c75;
  max-width: 50vw;
  line-height: 1.5;
  margin: 30px 0;
}

.App-link {
  color: #26b6c9;
}